<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avada Health</title>

    <!-- Font Montserrat -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

    <!-- Font Noto Sans JP -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">

    <!-- Link FontAwesome and CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="dist/app.css">

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="root">
        <!-- START HEADER -->
        <header>
            <!-- Start Navbar -->
            <div class="container-lg">
                <nav>
                    <!-- Start Logo -->
                    <div class="logo">
                        <img src="img/medical_logo_1x_light.png" alt="Logo Avada Health">
                    </div>
                    <!-- End Logo -->

                    <!-- Start Menu -->
                    <ul class="menu">
                        <li v-for="(link, index) in linksHeader"><a :class="[{ active: activeLink === index }, { 'blue-btn': index === linksHeader.length - 1 }]" href="#">{{ link }}</a></li>
                    </ul>
                    <!-- End Menu -->
                </nav>
            </div>
            <!-- End Navbar -->

            <!-- Start Teaser -->
            <div class="container">
                <div class="teaser">
                    <h1>Caring <span>For Life</span></h1>
                    <p>Kind words can be short and easy to speak, but their echoes are truly endless. Avada Health focuses on you as if it was our own family.</p>
                    <button class="blue-btn">Learn More</button>
                </div>
            </div>
            <!-- End Teaser -->

        </header>
        <!-- END HEADER -->

        <!-- START MAIN -->
        <main>
            <!-- Start Features Section -->
            <section class="features section-padd">
                <!-- Start Title -->
                <div class="title">
                    <h2>Welcome to Avada Health</h2>
                    <p>Sed ut perspiciatis unde ominis iste natus error sit voluptatem accusantium doloremque laudantius, totam rem apertiam, eaque ipsa quae ab illo</p>
                </div>
                <!-- End Title -->

                <!-- Start Row -->
                <div class="container">
                    <div class="elements-container">
                        <!-- Start Single Feature -->
                        <div class="element col-4">
                            <img class="icon"  src="img/icon-1.png" alt="Icon appointment">
                            <h3>Same day appointments</h3>
                            <p>Sed ut perspiciatis unde ominis iste natus error sit voluptatem accusantium</p>
                        </div>
                        <!-- End Single Feature -->

                        <!-- Start Single Feature -->
                        <div class="element col-4">
                            <img class="icon"  src="img/icon-2.png" alt="Icon facilities">
                            <h3>Worls Class Facilities</h3>
                            <p>Sed ut perspiciatis unde ominis iste natus error sit voluptatem accusantium</p>
                        </div>
                        <!-- End Single Feature -->

                        <!-- Start Single Feature -->
                        <div class="element col-4">
                            <img class="icon"  src="img/icon-3.png" alt="Icon doctors">
                            <h3>Expert Doctors</h3>
                            <p>Sed ut perspiciatis unde ominis iste natus error sit voluptatem accusantium</p>
                        </div>
                        <!-- End Single Feature -->

                        <!-- Start Single Feature -->
                        <div class="element col-4">
                            <img class="icon"  src="img/icon-4.png" alt="Icon Therapies">
                            <h3>Complementary Therapies</h3>
                            <p>Sed ut perspiciatis unde ominis iste natus error sit voluptatem accusantium</p>
                        </div>
                        <!-- End Single Feature -->
                    </div>
                </div>
                <!-- End Row -->

            </section>
            <!-- End Features Section -->

            <!-- Start Doctors Section -->
            <section class="doctors section-padd">
                <!-- Start Title -->
                <div class="title-container">
                    <img class="icon" src="img/icon-5.png" alt="Icon Doctor">
                    <h2>Meet our doctors</h2>
                    <p>Sed ut perspiciatis unde ominis iste natus error sit voluptatem accusantium doloremque laudantius, totam rem apertiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
                </div>
                <!-- End Title -->

                <!-- Start Doctors -->
                <div class="container">
                    <!-- Start Doctor -->
                    <div class="doctor">
                        <img src="img/doctor-1-200x206.jpg" alt="Image doctor">

                        <div class="doctor-card">
                            <!-- Doctor Info -->
                            <div class="info">
                                <div class="name">Jon Snow</div>
                                <div>Anesthesiologist</div>
                            </div>

                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>

                            <!-- Doctor Social Buttons -->
                            <div class="social-buttons">
                                <span><a class="fb" href="#"><i class="fab fa-facebook-f"></i></a></span>
                                <span><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></span>
                                <span><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <!-- End Doctor -->

                    <!-- Start Doctor -->
                    <div class="doctor">
                        <img src="img/doctor-2-200x206.jpg" alt="Image doctor">

                        <div class="doctor-card">
                            <!-- Doctor Info -->
                            <div class="info">
                                <div class="name">Tony Stark</div>
                                <div>Cardiologist</div>
                            </div>

                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>

                            <!-- Doctor Social Buttons -->
                            <div class="social-buttons">
                                <span><a class="fb" href="#"><i class="fab fa-facebook-f"></i></a></span>
                                <span><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></span>
                                <span><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <!-- End Doctor -->

                    <!-- Start Doctor -->
                    <div class="doctor">
                        <img src="img/doctor-3-200x206.jpg" alt="Image doctor">

                        <div class="doctor-card">
                            <!-- Doctor Info -->
                            <div class="info">
                                <div class="name">Anna Smith</div>
                                <div>Nurse Practitioner</div>
                            </div>

                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>

                            <!-- Doctor Social Buttons -->
                            <div class="social-buttons">
                                <span><a class="fb" href="#"><i class="fab fa-facebook-f"></i></a></span>
                                <span><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></span>
                                <span><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></span>
                            </div>
                        </div>
                    </div>
                    <!-- End Doctor -->
                    
                </div>
                <!-- End Doctors -->
            </section>
            <!-- End Doctors Section -->

            <!-- Start Section Services -->
            <section class="services section-padd">
                <!-- Start Title -->
                <div class="title-container">
                    <img class="icon" src="img/icon-6.png" alt="Icon Health Services">
                    <h2>Our health services</h2>
                    <p>Sed ut perspiciatis unde ominis iste natus error sit voluptatem accusantium doloremque laudantius, totam rem apertiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
                </div>
                <!-- End Title -->

                <!-- Start Services -->
                <div class="container">
                    <div class="elements-container">
                        <!-- Start Sigle Service -->
                        <div class="element col-3">
                            <img class="icon" src="img/icon-14.png" alt="Icon Rehabilitation Center">
                            <h3>Rehabilitation Center</h3>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas</p>
                        </div>
                        <!-- End Sigle Service -->
                        
                        <!-- Start Sigle Service -->
                        <div class="element col-3">
                            <img class="icon" src="img/icon-15.png" alt="Icon Dental Implants">
                            <h3>Dental Implants</h3>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas</p>
                        </div>
                        <!-- End Sigle Service -->

                        <!-- Start Sigle Service -->
                        <div class="element col-3">
                            <img class="icon" src="img/icon-16.png" alt="Icon Medicine Research">
                            <h3>Medicine Research</h3>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas</p>
                        </div>
                        <!-- End Sigle Service -->

                        <!-- Start Sigle Service -->
                        <div class="element col-3">
                            <img class="icon" src="img/icon-11.png" alt="Icon Blood Bank">
                            <h3>Blood Bank</h3>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas</p>
                        </div>
                        <!-- End Sigle Service -->

                        <!-- Start Sigle Service -->
                        <div class="element col-3">
                            <img class="icon" src="img/icon-12.png" alt="Icon Pharmaceutical Advice">
                            <h3>Pharmaceutical Advice</h3>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas</p>
                        </div>
                        <!-- End Sigle Service -->

                        <!-- Start Sigle Service -->
                        <div class="element col-3">
                            <img class="icon" src="img/icon-13.png" alt="Icon Medical Counseling">
                            <h3>Medical Counseling</h3>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas</p>
                        </div>
                        <!-- End Sigle Service -->
                    </div>
                </div>
                <!-- End Services -->
            </section>
            <!-- End Section Services -->

            <!-- Start Tour Section -->
            <section class="tour">
                <!-- Start Title -->
                <div class="title-container">
                    <img class="icon" src="img/icon-7.png" alt="Icon Tour Facilities">
                    <h2>Tour Our Facilities</h2>
                    <p>Sed ut perspiciatis unde ominis iste natus error sit voluptatem accusantium doloremque laudantius, totam rem apertiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>

                    <img class="play" src="img/play-icon.png" alt="Icon play">
                </div>
                <!-- End Title -->
            </section>
            <!-- End Tour Section -->

            <!-- Start Infos Section -->
            <section class="infos">
                <!-- Start Single Info -->
                <div class="info bg-1">
                    <h3>Emergency Care</h3>
                    <img src="img/wave-divider.png" alt="Divider">
                    <p>Sed ut perspiciatis unde ominis iste natus error sit voluptatem accusantium doloremque laudantius, totam rem apertiam, eaque</p>
                    <button>Learn More</button>
                </div>
                <!-- End Single Info -->

                <!-- Start Single Info -->
                <div class="info bg-2">
                    <h3>Expert Diagnostics</h3>
                    <img src="img/wave-divider.png" alt="Divider">
                    <p>Sed ut perspiciatis unde ominis iste natus error sit voluptatem accusantium doloremque laudantius, totam rem apertiam, eaque</p>
                    <button>Learn More</button>
                </div>
                <!-- End Single Info -->

                <!-- Start Single Info -->
                <div class="info bg-3">
                    <h3>Superb Rehabilitation</h3>
                    <img src="img/wave-divider.png" alt="Divider">
                    <p>Sed ut perspiciatis unde ominis iste natus error sit voluptatem accusantium doloremque laudantius, totam rem apertiam, eaque</p>
                    <button>Learn More</button>
                </div>
                <!-- End Single Info -->
            
            </section>
            <!-- End Infos Section -->

            <!-- Start Appointment Section -->
            <section class="appointment">
                <!-- Start Title -->
                <div class="title-container">
                    <h2>Make an appointment</h2>
                    <p>Sed ut perspiciatis unde ominis iste natus error sit voluptatem accusantium doloremque laudantius, totam rem apertiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>

                    <!-- Start Form -->
                    <form class="appointment-form">        
                        <input type="text" placeholder="Name*" required>
                        <input type="email" placeholder="Email*" required>
                        <input type="number" placeholder="Phone Number">
                        <input type="date">
                        <textarea cols="30" rows="6" placeholder="How can we help?*" required></textarea>
                        
                        <input class="blue-btn" type="submit" value="Make an appointment">
                    </form>
                    <!-- End Form -->
                </div>
                <!-- End Title -->
            </section>
            <!-- End Appointment Section -->

            <!-- Start Carousel Section -->
            <section class="carousel">
                <div class="container">
                    <span class="client-logo"><img src="img/client-logos-1.png" alt="Logo Healthy"></span>
                    <span class="client-logo"><img src="img/client-logos-2.png" alt="Logo Health"></span>
                    <span class="client-logo"><img src="img/client-logos-3.png" alt="Logo TurboPower"></span>
                    <span class="client-logo"><img src="img/client-logos-4.png" alt="Logo ColorPeople"></span>
                </div>
            </section>
            <!-- End Carousel Section -->
        </main>
        <!-- END MAIN -->

        <!-- START FOOTER -->
        <footer>
            <!-- Start Footer Top -->
            <div class="footer-top">
                <!-- Start Company Info -->
                <div class="footer-info">
                    <div class="logo">
                        <img src="img/medical_logo_1x_dark.png" alt="Logo Avada Health">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
                    </div>

                    <div class="social-buttons">
                        <h5>learn more about us</h5>

                        <span><a class="fb" href="#"><i class="fab fa-facebook-f"></i></a></span>
                        <span><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></span>
                        <span><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></span>
                        <span><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></span>
                    </div>
                </div>
                <!-- End Company Info -->

                <!-- Start Contact Information -->
                <div class="contacts">
                    <h4>Contact Information</h4>

                    <div class="street">
                        <i class="fas fa-map-marker-alt"></i>
                        121 King Street, London United Kingdom
                    </div>

                    <div>
                        <i class="fas fa-phone"></i>
                        1.800.458.556
                    </div>
                </div>
                <!-- End Contact Information -->

                <!-- Start Footer Menu -->
                <ul class="menu departments">
                    <li><h4>Medical departments</h4></li>

                    <li v-for="linkFooter in linksFooter ">
                        <a href="#">
                            <span class="circle"><i class="fas fa-chevron-right"></i></span>   
                            {{ linkFooter }}
                        </a>
                    </li>

                    <button>View our departments</button>
                </ul>
                <!-- End Footer Menu -->
            </div>
            <!-- End Footer Top -->

            <!-- Start Footer Bottom -->
            <div class="footer-bottom">
                <p><i class="far fa-copyright"></i> Copyright 2012-2020 | Avada Theme by Theme Fusion | All Rights Reserved | Powered by WordPress</p>
            </div>
            <!-- End Footer Bottom -->

            <!-- Start Arrow Up -->
            <button @click="toTop" class="arrow-up"><i class="fas fa-chevron-up"></i></button>
            <!-- End Arrow Up -->
        </footer>
        <!-- END FOOTER -->
    </div>

    <script src="dist/app.js"></script>
</body>
</html>