// RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font_style_common;
}

// Containers
.container-lg{
    width: 92%;
    margin: 0 auto;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.title-container{
    width: 40%;
    margin: 0 auto;
    color: $font_primary_color;
    text-align: center;

    h2{
        font-size: $font_size_secondary_title;
        font-weight: 100;
        padding-bottom: 15px;
    }

    p{
        font-size: $font_size_md;
        line-height: 28px;
    }
}

// Menus
.menu{
    list-style-type: none;

    a{
        text-decoration: none;
        font-size: $font_size_sm;
    }
}

// Buttons
.blue-btn{
    @include btn_standard;
    background-color: $brand_primary_color;
    color: $brand_secondary_color;
    border: 0;
}

.section-padd{
    padding: 60px 0 70px 0;
}