// RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font_style_common;
}

// Containers
.container-lg{
    width: 92%;
    margin: 0 auto;
}

.container{
    width: 60%;
    margin: 0 auto;
}

// Width logo header and footer
.logo img{
    max-width: 180px;
}

// Menus
.menu{
    list-style-type: none;

    a{
        text-decoration: none;
        font-size: $font_size_sm;

        &:hover:not(.blue-btn){
            text-decoration: underline;
        }
    }
}

// Buttons
.blue-btn{
    @include btn_standard;
    background-color: $brand_primary_color;
    color: $brand_secondary_color;
    border: 0;
    font-size: $font_size_md;
    padding: 7px 25px;

    &:hover{
        background-color: lighten($brand_primary_color, 10%);
    }
}

.section-padd{
    padding: 60px 0 70px 0;
}

// Common Main
// Title of every section (first section excluded)
.title-container{
    @include title_container;

    h2{
        @include section_title;
        margin-bottom: 17px;
        position: relative;
        text-transform: uppercase;

        &::after{
            content: '';
            width: 170px;
            display: block;
            border-bottom: 1px solid $font_secondary_color;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    p{
        @include section_subtitle;
    }
}

img.icon{
    height: 50px;
}

// Container and elements in features and services section
.elements-container{
    @include flex_between;
    flex-wrap: wrap;

    .element{
        text-align: center;
        color: $font_secondary_color;
        margin-top: 50px;

        &.col-4{
            width: 23%;
        }

        &.col-3{
            width: 32%;
        }

        h3{
            text-transform: uppercase;
            font-size: $font_size_md;
            padding: 8px 0;
        }

        p{
            @include small_paragraph;
        }
    }
}

// Social media button in doctors section and in footer
.social-buttons{

    a{
        color: $brand_secondary_color;
        font-size: $font_size_sm;
        width: 20px;
        height: 20px;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        border-radius: 3px;
        margin-right: 5px;

        &.fb{
            background-color: #395899;
        }
        &.twitter{
            background-color: #53aeef;
        }
        &.instagram{
            background-color: #3d739c;
        }
        &.youtube{
            background-color: #ce341b;
        }

        &:hover{
            transform: scale(1.2, 1.2);
        }
    }
}