// Start Section Features
.features{

    .title{
        @include title_container;

        h2{
            @include section_title;
        }

        p{
            @include section_subtitle;
        }
    }
}
// End Section Features

// Start Doctors Section
.doctors{
    background-color: $bg_color;

    .container{
        @include flex_between;
    }

    .doctor{
        background-color: $brand_secondary_color;
        width: 31%;
        margin-top: 40px;

        img{
            width: 100%;
            display: block;
        }

        &-card{
            padding: 30px 25px;

            .info{
                font-size: $font_size_md;
                padding-bottom: 20px;
            }

            .name{
                text-transform: uppercase;
                padding-bottom: 5px;
            }

            p{
                @include small_paragraph;
                color: $font_secondary_color;
            }

            .social-buttons{
                padding-top: 30px;

                a{
                    color: $brand_secondary_color;
                    font-size: $font_size_sm;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    text-align: center;
                    line-height: 20px;
                    border-radius: 3px;
                    margin-right: 5px;

                    &.fb{
                        background-color: #395899;
                    }
                    &.twitter{
                        background-color: #53aeef;
                    }
                    &.instagram{
                        background-color: #3d739c;
                    }
                }
            }
        }
    }
}
// End Doctors Section

// Start Tour Section
.tour{
    background-image: url(../img/paralax-bg-tour-facilities.jpg);
    height: 450px;
    background-size: cover;
    background-position-y: center;
    position: relative;

    .title-container{
        color: $brand_secondary_color;
        @include center;

        .play{
            width: 40px;
            cursor: pointer;
            margin-top: 25px;
        }
    }
}
// End Tour Section