// Colors
$brand_primary_color: #39afbb;
$brand_secondary_color: #fff;
$bg_color: lighten(#f1efef, 2%);

$font_primary_color: #46525f;
$font_secondary_color: #bcbcbd;

$caroulsel_color_1: #3298c4;
$carousel_color_2: #2e7fc8;

// Font Styles
$font_style_common: 'Noto Sans JP', sans-serif;
$font_style_nav_btn: 'Montserrat', sans-serif;

// Font Size
$font_size_title: 45px;
$font_size_secondary_title: 25px;
$font_size_lg: 15px;
$font_size_md: 13px;
$font_size_sm: 10px;
$font_size_xs: 8px;
